header
  .header
    a(href="#") 
     img(src="images/logo.svg", alt="Logo")
    nav
      ul.nav
        li.nav-items
          a(href="").nav-link.active Home
        li.nav-items
          a(href="").nav-link TV Shows
        li.nav-items
          a(href="").nav-link Movies
        li.nav-items
          a(href="").nav-link Series
    ul.control
      li.control-item
        button.control-btn.control-btn__search
      li.control-item
        button.control-btn.control-btn__notice
      li.control-item
        button.control-btn.control-btn__account