- var pageTitle = 'Online TV'


doctype html
html(lang="en")
  head
    title= pageTitle
    style
      include styles/style.css
      include styles/normalize.css
  body
    include modules/header

    section.section-banner
      img(src="../src/images/sectionBanner.png", alt="Banner").section-banner__image
      .container
        .banner 
          h1.banner-title Zack Snyder's Justice League

          .banner-info
            span.banner-info__year 2021
            span.banner-info__age 18+
            span.banner-info__time 4h 2min
            span.banner-info__rating 8.8

          p.banner_text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic.
          .banner-control
            button.banner-control__btn.banner-control__btn-main Watch 
            button.banner-control__btn.banner-control__btn-more More information
    section.section
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Trending TV Show &#62;
        .movies 
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/1.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/2.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/3.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/4.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/5.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/6.png", alt="").movies__img
    section.section
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Trending Movies &#62;
        .movies 
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/7.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/8.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/9.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/10.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/11.png", alt="").movies__img
          .movies-item
             a(href="#").movies__link
              img(src="../src/images/posters/12.png", alt="").movies__img
        button.section__btn See more
    section.section
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Popular Genres &#62;
        .genres 
          .genres-item.genres-item_romance 
            .genres-icon
              img(src="../src/images/genres/romance.png", alt="").genres__image
            h3.genres__title Romance
          .genres-item.genres-item_drama 
            .genres-icon
              img(src="../src/images/genres/drama.png", alt="").genres__image
            h3.genres__title Drama
          .genres-item.genres-item_historical
            .genres-icon 
              img(src="../src/images/genres/Historical.png", alt="").genres__image
            h3.genres__title Historical
          .genres-item.genres-item_action
            .genres-icon 
              img(src="../src/images/genres/Action.png", alt="").genres__image
            h3.genres__title Action
          .genres-item.genres-item_sciFi 
            .genres-icon
              img(src="../src/images/genres/Sci-fi.svg", alt="").genres__image
            h3.genres__title Sci-fi
          .genres-item.genres-item_horror
            .genres-icon 
              img(src="../src/images/genres/Horror.png", alt="").genres__image
            h3.genres__title Horror
          .genres-item.genres-item_comedy
            .genres-icon 
              img(src="../src/images/genres/Comedy.png", alt="").genres__image
            h3.genres__title Comedy
          .genres-item.genres-item_documentary
            .genres-icon 
              img(src="../src/images/genres/Documentary.png", alt="").genres__image
            h3.genres__title Documentary
    section.section
      .container 
        h2.section__h2 
          a(href="#").section__h2-link Popular Actors & Directors &#62;
        .actors
          .actors-items
            a(href="#").actors-link
              img(src="../src/images/actors/Samantha_Bowen.png", alt="").actors__img 
            h3.actors-items Samantha Bowen
          .actors-items
            a(href="#").actors-link
              img(src="../src/images/actors/Rhys_Birch.png", alt="").actors__img
            h3.actors-items Rhys Birch
          .actors-items
            a(href="#").actors-link
              img(src="../src/images/actors/James_Holloway.png", alt="").actors__img
            h3.actors-items James Holloway
          .actors-items
            a(href="#").actors-link
              img(src="../src/images/actors/Joshua_Walton.png", alt="").actors__img
            h3.actors-items Joshua Walton
          .actors-items
            a(href="#").actors-link
              img(src="../src/images/actors/Patrick_Elliott.png", alt="").actors__img
            h3.actors-items Patrick Elliott
          .actors-items
            a(href="#").actors-link
              img(src="../src/images/actors/Morgan_O'Neill.png", alt="").actors__img
            h3.actors-items Morgan O'Neill
    section.section
      .container 
        .marketing
          .marketing-item
            a(href="#").marketing__link  
              img(src="../src/images/marketing.png", alt="").marketing__img
          .marketing-item
            a(href="#").marketing__link  
              img(src="../src/images/marketing02y.png", alt="").marketing__img       
    section.section
      .container 
        .offer
          h2.offer__title Are You New Here ? Don’t&nbsp;wait, Register Now. 
          button.offer__btn Register Now

    include modules/footer
